<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://das70erjahrfirstfunc01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a1d6f623-3b4d-4c5b-9723-5103a4cc6f4f/resourcegroups/AppStartStopVM/providers/Microsoft.Web/sites/das70erjahrfirstfunc01</ResourceId>
    <UserName>$das70erjahrfirstfunc01</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://das70erjahrfirstfunc01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>